/* feature/style-foundation */
html {
  @apply overflow-x-hidden scroll-smooth;
}

body {
  @apply bg-green-950 text-white font-[Jost] tracking-wider;
}

section {
  @apply py-20 md:py-28;
}

h1 {
  @apply text-4xl md:text-5xl xl:text-6xl font-bold;
}

h2 {
  @apply text-3xl md:text-4xl xl:text-5xl;
}

h3 {
  @apply text-3xl md:text-4xl xl:text-5xl;
}

/* Navbar */
.nav-link {
  @apply text-lg font-bold duration-300;
}

.nav-link:hover {
  @apply text-yellow-500;
}

/* active */
.active {
  @apply text-yellow-500;
}

/* hotfix/navbar-styles */
.show-menu {
  left: 0;
}

#nav-menu::-webkit-scrollbar {
  display: none;
}

#nav-menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* button */
.btn {
  @apply border border-yellow-500 bg-yellow-500 px-5 py-2 rounded-md duration-300;
}

.btn span {
  @apply font-bold;
}

.btn:hover {
  @apply opacity-90;
}

.btn_outline {
  @apply bg-transparent;
}
.btn_outline:hover {
  @apply bg-yellow-500;
}

/* feature/hero-section */
/* animate-movingY */
.animate-movingY {
  @apply transition-transform;
  animation: move 3s linear infinite;
}
@keyframes move {
  50% {
    transform: translateY(-1rem);
  }
}

/* animate-rotating */
.animate-rotating {
  @apply animate-[spin_15s_linear_infinite];
}

/* animate-scalingUp */
@keyframes scaleUp {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}
.animate-scalingUp {
  @apply transform;
  animation: scaleUp 3s linear infinite;
}

/* feature/about-section */
.title {
  @apply font-[Lobster] text-yellow-500;
}

/* feature/popular-section */
.popular__card:hover img {
  @apply -top-8;
}

/* feature/review-section */
.swiper-pagination-bullet {
  background-color: #22c55e !important;
  width: 14px !important;
  height: 14px !important;
  border-radius: 9999px !important;
}
.swiper-pagination-bullet-active {
  background-color: #16a34a !important;
}
